<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accelerate.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,52},{44,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{44,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,202},{48,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>baseshield.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,194},{40,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bigmoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,150},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{40,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{38,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bulletup.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{44,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>cloaking.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{42,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>exciting.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{40,38}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>freezed.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,48},{32,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{32,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>landmine.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,192},{26,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{26,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>levelup.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,102},{46,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{48,30}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>money.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,44},{26,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{26,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>radar.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,92},{32,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{32,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>repair.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,150},{42,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{42,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>turret.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>turret_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,38}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:816feb05079645278af624ced150d03e$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
