<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>armor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>armor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>born_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,186},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{26,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>born_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,214},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>born_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>born_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bullet_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{4,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,6}}</string>
                <key>sourceSize</key>
                <string>{4,6}</string>
            </dict>
            <key>buzz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,156},{28,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{28,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>buzz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,156},{42,42}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>buzz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>buzz_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{40,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{40,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>zkbuzz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,214},{36,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{36,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>zkbuzz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,58},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>zkbuzz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,108},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sfxp.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4aa30055eb6ae3e60f106c26f70984d$</string>
            <key>textureFileName</key>
            <string>sfxp.png</string>
        </dict>
    </dict>
</plist>
